#form-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}


#add-user input {
  font-weight: bold;
  padding: 10px;
}

#add-user button {
  font-weight: bold;
  padding: 10px;
}

.list {
  display: flex;
}

.list ul li {
  display: inline-flex;
  justify-content: space-around;
  background: #3bbced;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #ccc;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 300px;
}
