.header {
  background: #3bbced;
  grid-column: 1/10;
}

.form-container {
  grid-column: 1/2;
  grid-row: 2/3;
}

.list {
  grid-column: 2/8;
  grid-row: auto;
  background: #ccc;
}

.add-user input {
  font-weight: bold;
  padding: 10px;
}

.add-user button {
  font-weight: bold;
  padding: 10px;
}

#search-user input {
  font-weight: bold;
  padding: 10px;
}


.list ul li {
  display: inline-flex;
  justify-content: space-around;
  background: #3bbced;
  margin: 10px;
  padding: 10px;
  border: 2px solid whitesmoke;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 300px;
} 

#grid-content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: start;
  grid-gap: 10px;
  margin: 0 auto;
}

#grid-content div {
  padding: 30px;
}