.list {
  display: flex;
}

.list ul li {
  display: inline-flex;
  justify-content: space-around;
  background: #3bbced;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #ccc;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 300px;
}

/* .list ul li {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 10px;
  grid-template-areas:
"aside aside main main";
    
}

main {
  grid-area: main;
}
aside {
  grid-area: aside;
} */